#addSkiAreaMsg {
  font-weight: bold;
  padding: 0.5em;	
}

#addSkiAreaSection {
  float: left;
}

#addSkiAreaText {
  padding: 5px;
  margin-left: 5px;
  width: 600px;
  font-size: 20px;
}

.addSkiAreaText-label {
  font-size: 1.25em;
}

.addSkiAreaText-desc {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
}

/* Make autocomplete suggestions scrollable by setting a fixed height */
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}
	
* html .ui-autocomplete {
  height: 300px;  /* For IE6 -- since it doesn't support max-height */
}

#addSkiAreaLoading {}

#addSkiAreaButton {
  margin-right: 20px;	
}
 
#skiAreaContent {
  width: 900px;
  margin: 0px 0px 30px 10px;
  padding: 10px 0px 0px 0px;
}

#skiAreaGraphSection {
  float: left;
  width: 675px;
  height: 275px;	
}

#skiAreaListSection {
  float: right;
  width: 215px;

  height: 275px;
  overflow-y: auto;
  overflow-x: hidden;  
}

#skiAreaList {
}

.skiAreaListItem {
  position: relative;
  padding: 0.25em 0em 0.25em 0.5em;	
  margin: 0em 0em .5em 1em;
  color: #000;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;  
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.skiAreaListItem-hover {
  margin-left: 0em;
}

.skiAreaListItem-Close {
  position: absolute;
  top: 0;
  right: 2px;	
}