* {
  margin: 0;
}

html, body {
  padding: 0px;
  height: 100%;
  background-color: #f5f5fb;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
}

body {}

h1 {
  margin: 0.5em 0em 0.25em 0em;
  font-size: 2.5em;
}

A:link    {color: #000; text-decoration: none;}
A:visited {color: #000; text-decoration: none;}
A:hover   {color: #000; text-decoration: underline;}
A:active  {color: #000; outline: none;}
A:focus   {-moz-outline-style: none;}

img {border: none;}
.clearPanel {clear: both;}

#bodyWrapper {
  width: 900px;
  
  /* For sticky footer -- http://ryanfait.com/sticky-footer/ */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -41px auto; /* the bottom margin is the negative value of the footer's height + border */
}

#header{}

.welcomeText {
  margin: 0.5em 0em 0.5em 0em;
  color: #727272;
}

.description {
  color: #727272;
}

#topToolbar {  
  padding: 0.5em 1em 0.5em 1em;
  margin: 20px 0px 20px 10px;
  background-color: #FFF3E0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#topToolbarButtons {
  float: left;
  margin-left: 5px;
}

#contentLoading {
  text-align: center;
  margin-top: 50px;
  font-size: 1.3em;
  color: #555;
}

#bottomToolbar {
  margin-bottom: 50px;
}

#infoDockSection {  
  color: #333;
  font-size: 1.2em;
}

#infoDockSection hr {
  border: 1px solid #FF9800;
}

#infoDockSection td {
  padding-top: 5px;	
}

#infoDockSection .tableLeft { 
  float: left;
  border-collapse:collapse;
  margin-top: 10px; 
}
#infoDockSection .tableRight {
  float: right;
  border-collapse:collapse;
}

#infoDockSection .tableLeft .colLbl {
  color: #727272;
  text-align: right;
}

#infoDockSection .tableLeft .colValue {
  text-align: left; 
  padding: 0px 40px 0px 7px;
  font-weight: bold;
}

#info_name {
  font-size: 1.4em;
  font-weight: bold;
}

#infoDockSection A:hover   {text-decoration: none;}
#infoDockSection A:hover .info_link {text-decoration: underline;}
#infoDockSection .info_link {
  font-weight: bold;	
}

.icon { 
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

#footer, .push {
  height: 40px;
}

#footer {
  border-top: 1px dotted #666;
  width: 100%;
  color: #727272;
}

#footer-inner {
  width: 900px;
  margin: auto;
  padding-top: .5em;
}

#footer A:link    {color: #666; text-decoration: none;}
#footer A:visited {color: #666; text-decoration: none;}
#footer A:hover   {color: #666; text-decoration: underline;}
#footer A:active  {color: #666; outline: none;}
#footer A:focus   {-moz-outline-style: none;}

.previewImg {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0px 20px 25px 0px;
}

.navTable {
  margin-top: 20px;
}

.navTable td {
  vertical-align: top;
}