<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="static/css/style.css">
    {% block extra_style %}{% endblock %}
  </head>

  <body>  
    <div id="bodyWrapper">    
      <header>
        <div id="header">
          <h1>{% block header %}{% endblock %}</h1> 
          {% block welcome %}{% endblock %}              
        </div>
      </header>

      {% block body %}{% endblock %}
    
    </div>
    
    <footer>
      <div id="footer">
        <div id="footer-inner">
        	© 2013 <a href="http://levibracken.com">Levi Bracken</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="mailto:levi.bracken@gmail.com?subject=SkiData">Report missing or inaccurate data.</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="https://github.com/lbracken/ski_data">Fork me on GitHub</a>
        </div>
      </div>
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
