{% extends "layout.html" %}
{% block title %}Ski Area Data Visualizations{% endblock %}
{% block header %}Ski Area Data Visualizations{% endblock %}

{% block body %}
      <div>
        <br/>
        <table class="navTable">
          <tr>
            <td><a href="ski-area-size-visualization"><img src="static/images/size-viz-preview.png" width="250px" height="150px" class="previewImg" title="Ski Area Size Visualization"/></a></td>
            <td>
              <h2><a href="ski-area-size-visualization">Ski Area Size Visualization</a></h2>
              <p class="description">Compare the size of ski areas.</p>
              <br/>
            </td>
          </tr><tr>
            <td><a href="ski-area-map"><img src="static/images/map-viz-preview.png" width="250px" height="150px" class="previewImg" title="Ski Area Map"/></a></td>
            <td>
              <h2><a href="ski-area-map">Ski Area Map</a></h2>
              <p class="description">View a map of US ski areas and visualize by different characteristics.</p>
            </td>
          </tr>
        
        </table>      
      </div>   
{% endblock %}